# IDEs
/.idea
/.vscode

# Node / frontend
/node_modules
/package.json
/package-lock.json

# Composer / PHP
/vendor/

# Drupal-specific
/sites/*/files
/sites/*/private
/sites/*/settings*.php

# Ignore .env file
.env


/web/core/
/web/modules/contrib/
/web/themes/contrib/
/vendor/
/web/sites/default/files/
/web/sites/*/settings.local.php

**/.gitignore

/github/workflows/deploy.yml
