# IDEs
/.idea
/.vscode

# Node / frontend
/node_modules
/package.json
/package-lock.json

# Composer / PHP
/vendor

# Drupal-specific
/sites/*/files
/sites/*/private
/sites/*/settings*.php
/config/sync
